{
  "env": {
    "mocha": true,
    "es6": true
  },
  "globals": {
    "expect": true,
    "sinon": true
  },
  "plugins": ["import", "node", "promise", "standard", "vue"],
  "extends": ["standard", "plugin:vue/recommended"],
  "rules": {
     "no-tabs": ["warn"]
    // 禁止特定的全局变量
    // "no-restricted-globals": ["error", "event", "fdescribe"],
    // 始终使用分号进行结尾
    // "semi": ["error", "always"]
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
